form
{
  width: 400px;
  margin: 150px auto auto;
  height: 150px;
  border-radius: 5px;
  text-align: center;
  border:fixed;
}

fieldset
{
    padding: 10px;
    background: rgba(245,245,245, .7);
  border:2px solid white;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:10px;
}

legend
{
    font-size: 15px;
    font-weight: bold;
}

label
{
    width: 150px;
    display: inline-block;
}

input
{
    height: 20px;
    border-radius: 2px;
    box-shadow: inset 1px 1px 2px #EDEDED;
}

input:hover
{
    height: 20px;
    background-color:#C0C0C0;
    border: 2px solid #2E2E2E;
    border-radius: 2px;
    box-shadow:2px 2px 5px #EDEDED;
}

 .inputs  {
    padding: 8px;
    border-radius: 15px;
    border: 0px solid #CCC;
    background-image: none;
    width:200px;
  text-align: center;
}
 .inputs:focus {
  outline-color: none;
}
#result
{
    background: #FFFFFF;
    width: 500px;
    margin: auto;
    display: none;
  text-align: center;
}

.input_help
{
    padding: 5px;
    border: solid black 1px;
    border-radius: 0px;
    display: none;
}

.login .titulo
{
    opacity:0.5;
    width: 500px;
    color:black;
    height: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: #FFFFFF;
    margin-bottom: 30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-family: Arial;
}


