@font-face {
    font-family: 'oswaldregular';
    src: url('fonts/oswald.regular-webfont.eot');
    src: url('fonts/oswald.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.regular-webfont.woff') format('woff'),
         url('fonts/oswald.regular-webfont.ttf') format('truetype'),
         url('fonts/oswald.regular-webfont.svg#oswaldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('fonts/oswald.light-webfont.eot');
    src: url('fonts/oswald.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.light-webfont.woff') format('woff'),
         url('fonts/oswald.light-webfont.ttf') format('truetype'),
         url('fonts/oswald.light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*----------------------------------------------------------------------------------*/

body{
    font-family: 'oswaldregular';
    background-color: rgba(0,0,0,0.35);;
}

a {
    text-decoration: none;
    color: #bd2f8d;
}

a:hover,a:focus{
    color:#ee5bb5;
    text-decoration: none;
}

header a{
    color: #FFF;
}

img{
    max-width: 300px;
    max-height: 400px;
}

object{
    width: 300px;
    height: 400px;
}


h1, .bleu  {
    color: #bd2f8d;
}

.closealert{
    margin-left: 70%;
}

.comment-cadre{
    margin-left: 5%;
    width: 90%;
}

.comment-content{
    color: #428bca;
    font-size: 16px;
    padding: 20px;
    margin-left: 10%;
}

.comment-by{
    color: #666666;
    font-size: 13px;
}

#delete{
    margin-left: 90%;
}

.delete{
    margin-left: 90%;
}

.mic-info {
    margin-left: 90%;
    color: #666666;
    font-size: 11px;
}

#url {
    padding-top: 10px;
}

.nav {
    list-style: none;
    border-radius: 6px;
    height:50px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav li{
    float: left;
    padding:0 26px;
    height:45px;
    margin:0px;
    line-height: 45px;
    cursor: pointer;
    text-align: center;
    border-right: solid 1px rgba(255,255,255,0.1);
    border-left: solid 1px rgba(0,0,0,0.4);
}

.navmenu{
    margin-left: 8%;
}

.nav-logged li{
    padding:0 22px;
    font-size:12px;
}

.nav li a{
    background-color: inherit;
    color:inherit;
}

.nav li a:hover{
    background-color: inherit;
    color:inherit;
}


.nav li:hover, .nav li:active, .active{
    background-image: -moz-linear-gradient(top, #171717, #171717);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#171717), to(#171717));
    background-image: -webkit-linear-gradient(top, #171717, #171717);
    background-image: -o-linear-gradient(top, #171717, #171717);
    background-image: linear-gradient(to bottom, #171717, #171717);
    background-repeat: repeat-x;
    color:white;
    margin: 0;
}

.sub-menu{
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #2f2f2f, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), to(#222222));
    background-image: -webkit-linear-gradient(top, #2f2f2f, #222222);
    background-image: -o-linear-gradient(top, #2f2f2f, #222222);
    background-image: linear-gradient(to bottom, #2f2f2f, #222222);
    background-repeat: repeat-x;
    width:100%;
    height:45px;
    border-radius: 6px 6px 0 0;
}

.searchbar{
    width:100%;
    height:40px;
    background-color: #cccccc;
    -webkit-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.6);
}
/*------------------------------------------------------------------------------------------------*/

.body-complete{
    min-height: 890px;
    background: url("../img/img-couple.png") no-repeat 35% 65% fixed;
    background-color: #d6d6d6;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    border-radius: 6px 6px 6px 6px;
    margin:0;
    margin-top: 20px;
    padding-bottom: 20px;
}

.body-complete-logged{
    min-height: 830px;
    background: url("../img/bg.png");
    background-color: rgba(0,0,0,0.35);
    border-radius: 6px 6px 6px 6px;
    margin:0;
    margin-top: 20px;
    padding-bottom: 20px;
}

.body-complete-modal{
    background: url("../img/bg.png");
    background-color: rgba(0,0,0,0.35);
    border-radius: 6px 6px 6px 6px;
    margin:0;
    margin-top: 20px;
    padding-bottom: 20px;
}

.cadre-page{
    margin-top: 10%;
}

.recherche{
    margin-left: 50px;
    float: left;
}

.genere {
    position:fixed;bottom:0;
    background #fff;
    color:#900;
    line-height:30px;
    height:30px;
    left:0;
    right:0;
    padding-left:10px;
}
.accueil {
    margin-right: 20%;
}

.menu {
    padding-left: 30%;
    font-size: 16px;
    background-color: black;
    position: static;
}

.deconnexion {
    margin-left: 80%;
    margin-top: 10px;
}

.marge {
	margin-top: 10px;
}

/*---------ARTICLE-----------*/
.articles {
    border-radius:10px 0;
}

.tags{
    padding-left: 80%;
    color: #666666;
}

.contenu {
    margin-left: 20px;
    margin-top: 30px;
}

.contenu img {
    margin-left: 37%;
}

.commentaires h2{
    color: #428bca;
}

#ajout-commentaire {
    width: 70%;
    height: 30%;
    margin-left: 15%;
    margin-bottom: 5%;
}

/*.body-complete p{
    width:90%;
    margin:0 auto;
    padding-top:20px;
}*/

.mytitle {
    border-radius:6px 6px 6px 6px;;
    border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #363636;
    text-align: center;
    margin-top: 10px;
    padding-top:10px;
}

h1 {
    text-align: center;
    margin-top: 10px;
	font-family: 'oswaldregular';
}

div.compteur{
	position:fixed;
	bottom:0;
	background #fff;
	color:#900;
	line-height:30px;
	height:30px;
	left:0;
	right:0;
	padding-left:10px;
}

/*---------------CONTACT-------------------*/

.contactform{
    margin-left: 10%;
    width: 80%;
}

.submitc{
    margin-left: 45%;
    margin-top: 40px;
}

footer{
    height: 50px;
    line-height: 50px;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 0px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 -2px 0px rgba(255, 255, 255, 0.6);
    border-radius: 6px 6px 6px 6px
    margin-bottom: 0;
}

/*----------------RESULTATS RECHERCHE---------*/

.article-recherche{
    width: 40%;
    margin-left: 5%;
    height: 5%;
}

.searchinputs{
    margin-left: 20px;
    padding-top: 2%;
}

/*----------------INSCRIPTION---------*/
#submitco{
    margin-top: 40px;
}

.inscription input{
    margin-left: 0;
}
.inscription label{
    margin-left: 10px;
}
#sinscrire{
    padding-left:15px;
    padding-right:15px;
    margin-top: 10px;
    margin-left: 155px;
}

.sexe img{
    display: inline-block;
}

.signin{
    margin-left: 6%;
    text-align: center;
}

#fieldsets{
    margin-left: 76%;
    margin-top: 15%;
    display:inline-block;
    padding-bottom: 20px;
    width: 400px;
    border-radius: 5px
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
}

#fieldsets #naissance{
    color: #bd2f8d;
}
#fieldsets2{
    margin-left: 30px;
    padding-bottom: 20px;
    height: 150px;
    width: 90%;
    border-radius: 5px
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
}

.connexion-inputs{
    float:left;
    margin-left: 200px;
    margin-top: 30px;
}

.connexion-inputs input{
    width: 300px;
}

.pseudo{
    margin-top: 15px;
}

legend
{
    font-size: 15px;
    font-weight: bold;
}

.input_help{
    padding: 5px;
    border: solid black 1px;
    border-radius: 0px;
    display: none;
}

#fieldsets3{
    margin-left: 3%;
    display:inline-block;
    padding-bottom: 20px;
    width: 350px;
    border-radius: 5px
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
}

.btn-gay {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #da49af;
background-image: -moz-linear-gradient(top, #ee5bb5, #bd2f8d);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5bb5), to(#bd2f8d));
background-image: -webkit-linear-gradient(top, #ee5bb5, #bd2f8d);
background-image: -o-linear-gradient(top, #ee5bb5, #bd2f8d);
background-image: linear-gradient(to bottom, #ee5bb5, #bd2f8d);
background-repeat: repeat-x;
border-color: #bd2f8d #bd2f8d #802068;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-gay:hover,
.btn-gay:focus,
.btn-gay:active,
.btn-gay.active,
.btn-gay.disabled,
.btn-gay[disabled] {
  color: #ffffff;
  background-color: #bd2fa1;
  background-color: #a92a78;
}

.btn-gay:active,
.btn-gay.active {
  background-color: #942579;
}

/*-------------USERS INDEX--------------------*/
.user-index
{
    opacity: 1;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: center;
    margin-left: 10%;
    float: left;
    width: 25%;
    height: 35%;
}

.user-index img{
    width: 120px;
    height: 130px;
}

.user-index h2{
    margin-top: 0px;
}

.info-user {
    margin-top: -50px;
    color: #428bca;
    margin-left: 82%;
}

.info-user a{
    margin-left: 20px;
}

.login-bouton{
    padding-top: 14px;
    font-size: 15px;
}

.nbrusers{
    margin-bottom: 3%;
    margin-left: 30%;
}

.perpage {
    margin-left: 61%;
}

.viewprofil{
    margin-top: 5%;
}


.listusers{
    margin-top: -100px;
    margin-left: 40%;
    width: 70%;
}

.pseudout{
    font-size: 18px;
    color:#FFF;;
}

.info-user a:hover{
    color: #FFF;
}

/*-------------USERS PROFILS--------------------*/

.profilview{
    height: 600px;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
}

.profilview img{
    width: 20%;
    height: 18%;
}

.article-complet {
    margin-top: 45px;
    margin-left: 25%;
    width: 50%;
    border: 2px;
    margin-bottom: 30px;
}

.fullname{
    text-align:center;
    font-size: 20px;
    margin-left: -5%;
    margin-top: 7%;
}

.article-header{
    text-align: center;
}

.article-header img{
    margin-left: 15px;
    height: 5%;
    width: 5%;
}

.sendamsg{
    margin-left: 13%;
    margin-top: 5%;
}

.send{
    margin-left: 40%;
    margin-right: 8%;
}

.textamsg{
    max-width : 100%;
}
/*----------------------MON COMPTE------------------- */
.medias-index{
    opacity: 1;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
    margin-bottom: 2%;
    text-align: center;
    margin-left: 10%;
    float: left;
    width: 35%;
    height: 150px;
}

.contenu-medias {
    margin-left: 30%;
    margin-top: 90px;
}

.changediv{
    margin-left: 13%;
    margin-top: 50%;
}

.change{
    margin-left: 23%;
    margin-right: 8%;
}

.accountview {
    height: 600px;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:8px;
    border-radius:8px;
    border-radius:10px;
}

.accountview img{
    width: 109px;
    height: 118px;
}

.retourform{
    margin-left: 10px;
}

.menuaccount{
    display:none;
}
/*----NAVBAR----*/
.mini-submenu{
  background-color: rgba(0, 0, 0, 0);
/*  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;*/
  width:40%;
  padding: 9px;
  margin-left: 300px;
  margin-top: 50%;
}

.editbtn{
    margin-left: 10%;
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

.list-group{
    background-color: rgba(245,245,245, .7);
    border-radius: 6px 6px 6px 6px;
    margin-left: 10%;
    margin-top: -35%;
}

.list-group a{
   color: #FFF;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.profmenu{
    background: url("../img/bg.png");
    background-color: rgba(0,0,0,0.35);
}

.iconprof{
    margin-left: 4%;
}

.iconprof2{
    margin-left: 7%;
}

.iconprof3{
    margin-left: 6%;
}

.iconprof4{
    margin-left: 4%;
}

.iconprof5{
    margin-left:5%;
}

/*----NAVBAR AVATAR----*/
.menumedias{
    display:block;
}

/*UPLOAD AVATAR */
.containerupload{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.changeavatar{
    margin-top: 20%;
}

.precedentajout{
    float:left;
    margin-left: 20px;
}

.uploadav{
    margin-left: 19%;
}

.formmedia{
    margin-top: 3%;
}

/*MESSAGERIE*/
.messagerie-index{
    opacity: 1;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 3%;
    margin-left: 15%;
    float: left;
    width: 70%;
}

.recus{
    display: none;
}

th{
    text-align: center;
}

.list-group2{
    text-align:left;
    background-color: rgba(245,245,245, .7);
    border-radius: 6px 6px 6px 6px;
}

.list-group2 a{
   color: #FFF;
}

.msglarge a{
    color : #000;
}

.menumsg{
    display:none;
}

.dropmsg{
    width: 100%;
}

.icondown{
    margin-left: 80%;
}

.msglarge{
    font-size: 17px;
}

.nbrmsg{
    font-size: 19px;
}

/*PAGINATION msg*/
.msg {
    margin-top: -5%;
    margin-left: 46%;
}

.titremenu{
    background-color: rgba(0,0,0,0.35);
}

/*--------RECHERCHE------- */

/*VILLES */
#hobbie-val
{
    width:110px;
}

.hobbies{
    padding: 2px 25px 2px 5px;
    display: inline-block;
  background-color: rgba(255,255,255,0.08);
    border-radius: 3px;
    margin-right:5px;
    box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    position: relative;
     margin:5px;
     word-break:break-all;
}

.hobbies .close{
    position: absolute;
    right:4px;
    top:6px;
}

.close{
    font-size: 15px;
}

.div-hobbies
{
  display: block;
  position: relative;
  margin: 0 auto;
}

.btn-add-hobbies
{
    border-radius: 0 3px 3px 0;
}

.input-append
{
  margin-bottom: 10px;
  margin-top: 5px;
}

.input-append input
{
  margin-top: 0;
  margin-right: 0;
}

#error-hobbie
{
  display: none;
}

.searchform{
    opacity: 1;
    padding: 10px;
    background: rgba(245,245,245, .7);
    border:2px solid white;
    border-radius:10px;
    margin-bottom: 2%;
    margin-left: 8%;
    float: left;
    float:left;
    width: 20%;
    margin-top: 7%;
}

#villeplus{
    top: -1.8px;
    left: 0px;
    height: 25px;
}

#dropsearch{
    margin-left: 10%;
    width: 80%;
    text-align:center;
}

.searchform select{
    width:110px;
}

#subsearch{
    margin-top: 10%;
    margin-left: 36%;
    margin-bottom: 4%;
}
/*RESULTATS*/
.nbrresult{
    margin-bottom: 5%;
    margin-left: 30%;
}

.previewcl{
    display:none;
}


/*
EDITPROFIL
*/

.return{
    margin-left: 70%;
}

.formedit{
    margin-top: 50px;
}

.delacc{
    margin-left: 13%;
    margin-top: 23%;
}
